@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #0F0F0F;
}

section {
  padding: 10vh 0 3vh 0;
  text-align: center;
  color: #EEEEEE;
}

button {
  color: #EEEEEE;
  background-color: #0F0F0F;
  border: #00FFA9 solid 2px;
  -webkit-box-shadow: #00FFA9 0 0 5px;
          box-shadow: #00FFA9 0 0 5px;
  padding: 2vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
button h4 {
  padding: 0;
  margin: 0;
}

.nav-button {
  color: #EEEEEE;
}
.nav-button:hover {
  color: #00FFA9;
  text-shadow: #00FFA9 0 0 25px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.navbar-toggler, .btn-close {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand {
  color: #00FFA9;
  text-shadow: #00FFA9 0 0 10px;
}

.navbar {
  background-color: #0F0F0F;
}

#section1 {
  width: 100%;
  height: 70vh;
}

.s1 {
  background: url(./imgs/Group\ 194.jpg) center/cover no-repeat;
}

.s2 {
  background: url(./imgs/Group\ 19.jpg) center/cover no-repeat;
}

.s3 {
  background: url(./imgs/Group\ 196.jpg) center/cover no-repeat;
}

h1, h4, p {
  font-weight: 400;
}

h4 {
  padding: 4vh 1.5vw 2vh;
}

.section1-img {
  height: 70vh;
}

.div1-1__section2 {
  background: url(./imgs/Бальные\ танцы.jpg) center/cover no-repeat;
}

.div1-2__section2 {
  background: url(./imgs/Клубная\ латина.jpg) center/cover no-repeat;
}

.div1-3__section2 {
  background: url(./imgs/Растяжка.jpg) center/cover no-repeat;
}

.div1-4__section2 {
  background: url(./imgs/Свадебный\ танец.jpg) center/cover no-repeat;
}

.div1-5__section2 {
  background: url(./imgs/Йога.jpg) center/cover no-repeat;
}

.div1-6__section2 {
  background: url(./imgs/Пилатес.jpg) center/cover no-repeat;
}

.div1-7__section2 {
  background: url(./imgs/Фитнес.jpg) center/cover no-repeat;
}

.div1-8__section2 {
  background: url(./imgs/Контемпорари.jpg) center/cover no-repeat;
}

.div2-1__section2 {
  background: url(./imgs/д\ Спортивно-бальные\ танцы.jpg) center/cover no-repeat;
}

.div2-2__section2 {
  background: url(./imgs/д\ Эстрадная\ хореография.jpg) center/cover no-repeat;
}

.div2-3__section2 {
  background: url(./imgs/д\ Классическая\ хореография.jpg) center/cover no-repeat;
}

.div2-4__section2 {
  background: url(./imgs/д\ Baby\ dance.jpg) center/cover no-repeat;
}

.div2-5__section2 {
  background: url(./imgs/ОФП.jpg) center/cover no-repeat;
}

.div2-6__section2 {
  background: url(./imgs/д\ Хип-хоп.jpg) center/cover no-repeat;
}

.div2-7__section2 {
  background: url(./imgs/д\ Афро-джаз.jpg) center/cover no-repeat;
}

.div2-8__section2 {
  background: url(./imgs/д\ Контемпорари.jpg) center/cover no-repeat;
}

.h4__section2 {
  padding: 80% 0 10%;
}

.row div {
  padding: 1%;
}

.carousel-indicators {
  bottom: -2.5vh;
}

.timetable-line {
  -webkit-column-gap: 1vw;
     -moz-column-gap: 1vw;
          column-gap: 1vw;
  padding-top: 1vw;
}

.div-timetable {
  border: 2px solid;
  border-image-source: linear-gradient(to bottom, #00FFA9, #0F0F0F);
  border-image-slice: 1;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dt-none {
  border: #0F0F0F solid 2px;
}

.section3__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timetable-line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.tt li {
  cursor: pointer;
  list-style-type: none;
  display: inline-block;
  font-size: 24px;
  padding: 4vh 1.5vw 0vh;
}
.tt li:hover {
  color: rgb(147, 147, 147);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.tt li:active {
  color: rgb(83, 83, 83);
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}

.tt li.active {
  border-bottom: #00FFA9 solid 2px;
}

.hide {
  opacity: 1;
  -webkit-animation-name: filtr;
          animation-name: filtr;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes filtr {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}

@keyframes filtr {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
.div-timetable h5 {
  padding-top: 0.5vw;
}

.main-dt {
  background: rgb(0, 255, 169);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 255, 169, 0.25)), to(rgba(0, 255, 169, 0)));
  background: linear-gradient(180deg, rgba(0, 255, 169, 0.25) 0%, rgba(0, 255, 169, 0) 100%);
}

.timetable-mobile {
  border: #00FFA9 solid 2px;
  margin-top: 3vh;
}
.timetable-mobile .col {
  margin: 10px;
  border: transparent solid 2px;
  cursor: pointer;
}

.timetable-lines-mobile {
  text-align: left;
}
.timetable-lines-mobile .t-line-m {
  padding: 3vh 2vw;
  border-bottom: rgba(0, 255, 170, 0.4392156863) solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.timetable-lines-mobile .t-line-m .t-line-m__time {
  width: 70px;
}
.timetable-lines-mobile .t-line-m .t-line-m__where {
  color: rgb(147, 147, 147);
}
.timetable-lines-mobile .t-line-m .for-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.day-btn.active {
  border: solid 2px;
  border-image-source: linear-gradient(to bottom, #00FFA9, #0F0F0F);
  border-image-slice: 1;
}

.days {
  display: none;
}

.days.active {
  display: block;
}

.section4__div {
  border: solid 2px;
  border-image-source: linear-gradient(to bottom, #00FFA9, #0F0F0F);
  border-image-slice: 1;
}
.section4__div .s4-d__div2 {
  background: url(./imgs/гантели.png) right/cover no-repeat;
}
.section4__div .s4-d__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section4__div .s4-d__div1 h4 {
  text-align: left;
  padding-left: 0;
}
.section4__div button {
  width: 70%;
  margin: 3vh 0 4vh 0;
}

.section4__div {
  margin-top: 5vh;
  padding-left: 3vw;
}

.form-select, .form-control {
  background-color: #0F0F0F;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: solid 2px;
  border-image-source: linear-gradient(to bottom, #00FFA9, #0F0F0F);
  border-image-slice: 1;
  color: #6C757D;
  width: 70%;
  margin-top: 2vh;
}

.div1__section5 {
  background: url(./imgs/Танцевальные\ истории\ 2022.jpg) center/cover no-repeat;
}

.div2__section5 {
  background: url(./imgs/Ритмы\ карнавала.jpg) center/cover no-repeat;
}

.div3__section5 {
  background: url(./imgs/Кубок\ академии\ танца.jpg) center/cover no-repeat;
}

.div4__section5 {
  background: url(./imgs/GOLDEN\ STEP\ CUP.jpg) center/cover no-repeat;
}

.div5__section5 {
  background: url(./imgs/Dance\ Legend.jpg) center/cover no-repeat;
}

.div6__section5 {
  background: url(./imgs/IMPETRIA\ AUTUMN\ CUP.jpg) center/cover no-repeat;
}

.div__section5 {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div7__section5 {
  background: url(./imgs/MOSCOW\ INTERNATIONAL.jpg) center/cover no-repeat;
}

.div8__section5 {
  background: url(./imgs/Танцевальная\ Галактика.jpg) center/cover no-repeat;
}

.div9__section5 {
  background: url(./imgs/MILLENNIUM\ CUP.jpg) center/cover no-repeat;
}

.for-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2vh;
}
.for-icons p {
  padding-left: 1vw;
}
.for-icons .icon {
  margin-top: -1.5vh;
}

.footer__h1 {
  text-align: left;
  margin-bottom: 4vh;
  margin-top: 3vh;
}

form button, .form-control, .footer__select {
  width: 100%;
}

form button {
  margin: 3vh 0 4vh 0;
}

.footer__col1 {
  margin-right: 3vw;
}

.footer__col3 {
  margin-left: 3vw;
}

.footer__col2 {
  margin-top: 3vh;
}
.footer__col2 P {
  padding-top: 2vh;
}

.i-mobile {
  margin-left: 10vw;
}

.i-mobile-1 {
  margin-top: 5vh;
}

.i-mobile-2 {
  margin-bottom: 5vh;
}

.modal-content {
  background-color: #0F0F0F;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  color: #EEEEEE;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}
.modal-header p {
  text-align: center;
  margin: auto;
  padding-top: 3vh;
}

.modal-body h4 {
  text-align: center;
  padding-top: 0;
}
.modal-body .OK {
  margin: auto;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 4vh;
  margin-top: 1vh;
}

.btn-close {
  background: transparent url(./imgs/close.svg) center/1em auto no-repeat;
}

.modal-form {
  width: 270px;
  margin: auto;
}

@media (max-width: 450px) {
  .footer__col2 img {
    width: 70vw;
  }
}
@media (min-width: 576px) {
  .footer__contacts-mobile {
    display: none;
  }
}
@media (max-width: 576px) {
  .footer__col3 {
    display: none;
  }

  .footer__col1 {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .for-icons p {
    margin-left: 2vw;
  }
}
@media (max-width: 992px) {
  .section3-dekstop {
    display: none;
  }

  .carousel-control-prev, .carousel-control-next {
    display: none;
  }

  .s4-d__div2, .s4__h4-1 {
    display: none;
  }

  .section4__div {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 3vh;
    margin-right: 3vh;
  }

  .s4-d__div1 {
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .s4__h4-2 {
    margin: auto;
    padding-top: 5vh;
  }

  .footer__col2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (min-width: 992px) {
  .section3-mobile {
    display: none;
  }

  .s4__h4-2 {
    display: none;
  }
}
@media (max-width: 1200px) {
  #carouselControlsSection-s5-dekstop {
    display: none;
  }
}
@media (min-width: 1200px) {
  #carouselControlsSection-s5-mobile {
    display: none;
  }
}